@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
  text-align: center;
  list-style-position: inside;
  color: blue;
  /* list-style-image: url('../images/checkmark.png');
 */
}

ul li:nth-child(2){
  color: red;
}

/* pseudo class of list elmetn nth-child() */


::marker {
  color: green;
  font-size: 1em;
  content: " only $5 ";
}
